@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');

:root {
  --black: #050505;
  ---very-dark-gray-1: #1F1F1F;
  --very-dark-gray-2: #2D2D2D;
  --dark-gray: #3A3A3A;
  --gray: #757575;
  --light-gray: #E9E9E9;
  --very-light-gray: #F4F4F4;
  --white: #FFFFFF;
  --purple: #A445ED;
  --red: #FF5252;

  --font-family-sans-serif: 'Inter', sans-serif;
  --font-family-serif: 'Lora', serif;
  --font-family-mono: 'Inconsolata', monospace;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 4rem;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}
.font-sans {
  font-family: var(--font-family-sans-serif);
}
.font-serif {
  font-family: var(--font-family-serif);
}
.font-mono {
  font-family: var(--font-family-mono);
}
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 12.75rem;
  margin-top: 8.25rem;
}
.error-container div {
  font-size: 4rem;
}
.error-container h5 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

/* NProgress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #a445ed;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #a445ed, 0 0 5px #a445ed;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.dark {
  background-color: var(--black);
  color: var(--white);
}
html.dark input {
  background-color: var(---very-dark-gray-1);
  color: var(--white);
}
html.dark span {
  color: var(--white);
}
html.dark p.meaning-color {
  color: var(--white);
}
html.dark ul.dropdown-menu {
  background-color: var(---very-dark-gray-1);
  box-shadow: 0 12px 20px rgb(164 69 237 / 0.8);
}
html.dark button.dropdown-item {
  color: var(--white);
}
html.dark label.toggle-out{
  background-color: var(--purple);
}
html.dark span.toggle-in {
  left: 23px;
}

@media only screen and (min-width: 100px) {
  .error-container {
      width: 20.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .error-container {
      width: 43rem;
  }
}
@media only screen and (min-width: 1200px) {
  .error-container {
      width: 46rem;
  }
}